@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --main-color: #FBF85D;
    --second-color: #33338D;
    --bg-color: #EEEEEE;
    --main-font: 'Inter', sans-serif;
    --second-font: 'Fira Code', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}

/* Header */

header {
    width: 100%;
    height: 5rem;
    background-color: var(--second-color);
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}

.headerLeft {
    display: flex;
    width: 90%;
}

#headerLogo {
    width: auto;
    height: 100%;
    margin-left: 1%;
}

.headerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    margin-left: 1%;
}

.headerText h1 {
    font-family: var(--main-font);
    font-size: 13px;
}

#menu {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--main-font);
    font-size: 13px;
    text-decoration: underline;
    margin-right: 2.5%;
    background: none;
    border: none;
    color: #FFFFFF;
}

#menuContainer {
    width: 35%;
    height: 100%;
    background-color: var(--second-color);
    position: fixed;
    right: 0;
    border-left: 4px solid #EEEEEE;
    list-style: none;
}

.openMenu {
    animation: menuOpenSlide 0.7s;
}

.closeMenu {
    animation: menuCloseSlide 0.7s;
}


@keyframes menuOpenSlide {
    from {
        width: 0px;
    }

    to {
        width: 35%;
    }
}

@keyframes menuCloseSlide {
    from {
        width: 35%;
    }

    to {
        width: 0px;
    }
}

#menuCloseContainer {
    width: 100%;
    height: 6%;
    margin-top: 10%;
    display: flex;
    justify-content: end;
}

#menuClose {
    width: auto;
    height: 100%;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menuClose img {
    width: auto;
    height: 100%;
}

#menuItems {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 30%;
}

.menuItemsContainer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 25%;
    border-bottom: 1px solid #EEEEEE;
}

.menuIcon {
    height: 50%;
    width: auto;
}

#menuContainer a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 10%;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;
    text-decoration: none !important;
}

/* Main */

main {
    width: 100%;
    height: calc(100% - 5rem);
    background-color: var(--bg-color);
}

/* Index */

#index {
    font-family: var(--main-font);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-color);
}

#index h1 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 25%;
}

#index h2 {
    font-size: 32px;
    font-weight: 400;
    margin-top: 5%;
}

#index a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: normal;
    margin-top: 20%;
    text-decoration: none;
    color: white;
    background-color: var(--second-color);
    width: 40%;
    height: 10%;
    border-radius: 15px;
}

/* Login */

#login {
    display: flex;
    align-items: center;
    justify-content: center;
}

#loginContainer {
    width: 90%;
    height: 70%;
    background-color: var(--main-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#loginTitle {
    font-family: var(--main-font);
    font-size: 32px;
    margin-top: 2%;
}

#loginForm {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.loginText {
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: bold;
    margin-left: 2%;
}

.loginInput {
    width: 100%;
    height: 15%;
    border: 2px solid black;
    border-radius: 15px;
    padding-left: 10px;
}

#cpf {
    margin-bottom: 10%;
}

#forgotPassword {
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-align: end;
    text-decoration: underline;
    margin-bottom: 14%;
}

#loginSubmit {
    width: 33%;
    height: 12.5%;
    font-family: var(--main-font);
    font-size: 20px;
    font-weight: normal;
    color: white;
    border-radius: 15px;
    background-color: var(--second-color);
    border: none;
    align-self: center;
}

#loginSubmit:hover {
    background-color: #262655;
}